#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo  
  expire: False

users:
  - name: royvillarroel # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
     -  ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC35cY6WIBmTgfGIYyLCtlzCxNgMImVoA5E4OBkqJruORnKUM9h0UQAgIqc94pBhnFmDPsX6eSpDyC7mgnGw1U918R987tvtyR9ApTOvM5Fm8p65cmnzKlHR5y9ZkqvTftdqTPF7AkTDf2xjDZtLTsxDq3tbFSmh8qopZmzcsgnoo946O69OEBIXPBscXIHZ5o6QRcFn/iTV+fJ8iUNMSYb89/mhFvQmjLbMh1QnNDEJ3r145wVZTjjPzYomddrKnKsjftcNsOS0wCrspRRr++vaxnQJlmR6xCvKOc/AbjxEKHC6q7FQlNiwOPrxM55U6hyQY1eKk6peRGgoxOAzxzl royvillarroel@royvillarroel-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
